body{
    background-color:#ffe7a6 ;
}
header{
    border: black 2px solid;
    justify-content: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:100px;
    display: flex;
    
    box-shadow: 14px -3px 12px -3px rgba(0,0,0,0.55);
    display: flex;
}
.nav{
    justify-content: right;
    align-items: baseline;
}
.bilder{
    height:200px;
    border: black 2px solid;
    border-radius:20%;
    margin:20px;
}
